<a href="https://colab.research.google.com/github/KodumuruRaja/Feature-Engineering/blob/main/Featuring-Engineering-(Handling%20Categorical-Features%20of%20Many%20Categories(Count%20Frequency%20Encoding).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Count or frequency encoding**
# **High Cardinality**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/train.csv",usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [ ]:
df.shape

(4209, 2)

# **One hot Encoding**

In [ ]:
pd.get_dummies(df).shape

(4209, 71)

In [ ]:
len(df['X1'].unique())

27

In [ ]:
len(df['X2'].unique())

44

In [ ]:
# Let's have a look at how many labels
for col in df.columns[0:]:
  print(col,':',len(df[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels

In [ ]:
#we make the count for each one of labels in variable X2, and capture this in a dictionary that we can use to re-map the labels
df.X2.value_counts().to_dict()

{'a': 47,
 'aa': 1,
 'ac': 13,
 'ae': 496,
 'af': 1,
 'ag': 19,
 'ah': 4,
 'ai': 415,
 'ak': 265,
 'al': 5,
 'am': 1,
 'an': 5,
 'ao': 20,
 'ap': 11,
 'aq': 63,
 'ar': 1,
 'as': 1659,
 'at': 6,
 'au': 3,
 'av': 4,
 'aw': 8,
 'ay': 54,
 'b': 21,
 'c': 1,
 'd': 18,
 'e': 81,
 'f': 87,
 'g': 12,
 'h': 6,
 'i': 25,
 'j': 1,
 'k': 25,
 'l': 1,
 'm': 367,
 'n': 137,
 'o': 1,
 'p': 4,
 'q': 5,
 'r': 153,
 's': 94,
 't': 29,
 'x': 10,
 'y': 11,
 'z': 19}

In [ ]:
#Now replace each label in X2 by its count,make a dictionary to map each label to the counts
df_fm=df.X2.value_counts().to_dict()

In [ ]:
df.X2.head()

0    at
1    av
2     n
3     n
4     n
Name: X2, dtype: object

In [ ]:
# Now replace X2 labels in the dataset df
df.X2=df.X2.map(df_fm)
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137